extends ../../../node_modules/@scsa/styling/src/server/views/main.pug

mixin subsystem(application)
    iframe(
        src=application.options.url + "api/fragments/iframe"
        title=application.options.text
        data-endpoint=application.options.text
        sandbox="allow-scripts allow-same-origin"
        class="Socket Socket--fullBleed"
    )

block top
    +subsystem(APPLICATIONS.Sales)

block left
    +subsystem(APPLICATIONS.Catalogue)

block right
    +subsystem(APPLICATIONS.Checkout)
