extends ../../../node_modules/@scsa/styling/src/server/views/main.pug

mixin subsystem(application, appendSrc)
    iframe(
        src=application.options.url + "api/fragments/iframe" + appendSrc
        title=application.options.text
        data-endpoint=application.options.text
        sandbox="allow-scripts allow-same-origin"
        class="Socket Socket--fullBleed"
    )

block top
    +subsystem(APPLICATIONS.Sales, "/entry")

block left
    - const slotA = "/entry?slot=" + encodeURIComponent(APPLICATIONS.Checkout.options.url + "api/fragments/iframe/controls")
    +subsystem(APPLICATIONS.Catalogue, slotA)

block right
    - const innerSlotB = encodeURIComponent("?slot=" + APPLICATIONS.Checkout.options.url + "api/fragments/iframe/controls");
    - const slotB = "?slot=" + encodeURIComponent(APPLICATIONS.Catalogue.options.url + "api/fragments/iframe/thin" + innerSlotB);
    +subsystem(APPLICATIONS.Checkout, slotB)
